{% load static %}

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'weather_app/style.css' %}" />
    <script type="text/javascript" src="{% static 'weather_app/script.js'%}"></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <!-- Input and Search -->
                    <form action="{% url 'weather_app:index' %}" method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" id="cord" name="cord" placeholder="Ex: Latitude,Longitude">
                            </div>
                        </div>
                        <hr>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" id="city" name="city" placeholder="Ex: Boston">
                            </div>
                        </div>
                        <div class="control" style="text-align: center;">
                            <button class="button is-info">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Weather details in card view -->
    {% if temp %}
    <div class="card flex-row flex-wrap" style="width: 50rem; margin-left: 150px; margin-left: 150px;">
        <div class="card-header border-0" style="width: 5rem;">
            <img src="{{ img }}" alt="">
        </div>
        <div class="card-block px-2">
            <h5 class="card-title">Weather details</h5>
            <p class="card-text">{{ desc }}</p>
            <h3>Temperature {{ temp }} F </h3>
        </div>
    </div>
    {% else %}
    <p style="text-align: center;">Select your location..</p>
    {% endif %}
    
    <!-- Div for error.html to be overriden -->
    {% block content %}{% endblock %}

    <!-- Map div  -->
    <div id="mapid"></div>

    <!-- Leaflet.js Map , Marker, Popup function definition  -->
    <script> 
        //map initialization
        var mymap = L.map('mapid').setView([38.95, -102.89], 5);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibWFoZXNoa2FtYmxlMTExIiwiYSI6ImNrYzhybnR1ZzB5NHMzMm54Y203cHNkd2wifQ.drKJS1weSWWy5tKHBmGxzQ'
        }).addTo(mymap);

        //Onclick Popup function 
        function onMapClick(e) {
            if (marker) {
                map.removeLayer(marker);
                map.removeControl(marker);

            }
            var marker = L.marker(e.latlng).addTo(mymap);
            var l1 = e.latlng.lat
            marker.bindPopup('<h2>Geo Co-ordinates</h2><br>' + marker.getLatLng()).openPopup();
            var lat_lng = e.latlng.lat.toFixed(4) + "," + e.latlng.lng.toFixed(4)
            document.getElementById("cord").value = lat_lng
        }

        mymap.on('click', onMapClick);
    </script>
</body>
